.barchart{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-size: $font-size-sm;


    &__title{
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: $gutter-xs;
        font-size: $font-size-xs;

        @media(min-width: $break-sm){
            font-size: $font-size-sm;
        }

    }

    &__bar{
        width: 70%;
        margin: 5px 0;
        background: $gray-lighter;
        &__part{
            background: $gray-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
        }
    }



}