.barchart{


    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    font-size: $font-size-sm;
    padding: 0 $gutter-xs;



    &__title{
        width: 23%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: $gutter-xs;
    }

    &__bar{
        width: 70%;
        margin: 5px 0;
        background: $gray-lighter;
        &__part{
            background: $gray-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
        }
    }

}