.chapter{

    margin: 0 auto;
    color: $gray-dark;
    display: flex;
    flex-direction: column;

    &__anchor{
        display: flex;
        padding-top: $gutter-lg;
    }

    a {
        display: inline;
    }

    @media(min-width: $break-sm){
        width: 80%;
        padding: $gutter-sm;

        &__anchor{
            padding-top: $gutter-md;
        }
    }

}